.header {
  margin-top: 45px;
  max-width: 880px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 420px) {
  .header {
    padding-left: 27px;
    padding-bottom: 32px;
    margin-top: 28px;
  }

  .logo {
    width: 126px;
    height: 24px;
  }
}
